@page "/ConsultaUsuario"

@using ProyectoFinal_Aplicada2.Controllers;
@using ProyectoFinal_Aplicada2.Models;

<h3>Consulta de Usuario</h3>
@if (lista == null)
{
    <p>No hay datos que mostrar</p>
    return;
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Nivel de Usuario</th>
                <th>Fecha de Ingreso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.UsuarioId</td>
                    <td>@item.NombrePersona</td>
                    <td>@item.EmailUsuario</td>
                    <td>@item.NivelUsuario</td>
                    <td>@item.FechaIngreso</td>
                    <td><a class="btn btn-outline-info" href="UsuariosComponent/@item.UsuarioId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    UsuariosControllers controller = new UsuariosControllers();
    List<Usuarios> lista = new List<Usuarios>();

    protected override void OnInitialized()
    {
        lista = controller.GetList(A => true);
    }


}