@page "/ConsultaCompras"

<h3>Consulta de Compras</h3>

<div class="form-row">

    <div class="col">
        <label for="desde_date">Desde:</label>
        <input id="desde_date" class="form-control" type="datetime-local" @bind="desdeFecha" />
    </div>

    <div class="col">
        <label for="hasta_date">Hasta:</label>
        <input id="hasta_date" class="form-control" type="datetime-local" @bind="hastaFecha" />
        <button class="btn btn-primary" @onclick="filtradoPorFecha">Filtar por Fecha</button>
    </div>

    <div class="col">
        <input type="text" class="form-control" placeholder="Criterio" @onfocusin="Filtrar" @onfocusout="Filtrar" @onclick="Filtrar" @bind="Criterio" />
    </div>

    <div class="col">
        <select class="form-control" @onclick="Filtrar" @bind="filtro">
            <option value="0">Todos</option>
            <option value="1">Id</option>
            <option value="2">ProveedorId</option>
            <option value="3">Itbis</option>
            <option value="4">Balance</option>
        </select>
    </div>
</div>


@if (ListaCompras == null)
{
    <p>No hay datos que mostrar</p>
    return;
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de compra</th>
                <th>ProveedorId</th>
                <th>Itebis</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ListaCompras)
            {
                <tr>
                    <td>@item.CompraId</td>
                    <td>@item.FechaCompra</td>
                    <td>@item.ProveedorId</td>
                    <td>@item.Itbis</td>
                    <td>@item.Balance</td>
                    <td><a class="btn btn-outline-info" href="Compras/@item.CompraId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Compras> ListaCompras = new List<Compras>();

    protected override void OnInitialized()
    {
        ListaCompras = comprascontroller.GetList(p => true);
    }

    private string filtro;
    private string Criterio;
    private bool fechaFiltro;

    DateTime hastaFecha = DateTime.Now;
    DateTime desdeFecha = DateTime.Now;

    public List<Compras> listado { get; set; }

    private void filtradoPorFecha()
    {
        try
        {
            ListaCompras = ListaCompras.Where(p => p.FechaCompra >= desdeFecha && p.FechaCompra <= hastaFecha).ToList();
        }
        catch (Exception)
        {

            //wey klok
        }
        
    }

    private void Filtrar()
    {

        try
        {
            int filtroIndex = Int32.Parse(filtro);

            if (Criterio.Trim().Length > 0)
            {
                switch (filtroIndex)
                {
                    //Todos
                    case 0:
                        listado = comprascontroller.GetList(p => true);
                        ListaCompras = listado;
                        break;
                    //Int
                    case 1:
                        int id = 0;
                        if (int.TryParse(Criterio, out id))
                        {
                            id = Convert.ToInt32(Criterio);
                            listado = comprascontroller.GetList(p => p.CompraId == id);
                            ListaCompras = listado;
                        }
                        break;
                    //ProveedorId
                    case 2:
                        int id2 = 0;
                        if (int.TryParse(Criterio, out id2))
                        {
                            id2 = Convert.ToInt32(Criterio);
                            listado = comprascontroller.GetList(p => p.ProveedorId == id2);
                            ListaCompras = listado;
                        }
                        break;
                    //Itbis
                    case 3:
                        decimal Itbis = 0;
                        if (decimal.TryParse(Criterio, out Itbis))
                        {
                            Itbis = Convert.ToDecimal(Criterio);
                            listado = comprascontroller.GetList(p => p.Itbis == Itbis);
                            ListaCompras = listado;
                        }
                        break;
                    //Balance
                    case 4:
                        decimal balance = 0;
                        if (decimal.TryParse(Criterio, out balance))
                        {
                            balance = Convert.ToDecimal(Criterio);
                            listado = comprascontroller.GetList(p => p.Balance == balance);
                            ListaCompras = listado;
                        }
                        break;
                }
            }
            else
            {
                listado = comprascontroller.GetList(p => true);
                ListaCompras = listado;
            }

        }
        catch (Exception)
        {
            //papichulo
        }
    }

}



