@page "/ConsultaProductos"

<h3>Consulta de Productos</h3>


<div class="form-inline">
    <label for="Filtro">Filtro</label>
    <select @bind="Filtro">
        <option value="">Filtro</option>
        <option value="Todos">Todos</option>
        <option value="Id">Id</option>
        <option value="Nombre">Nombre</option>
        <option value="Cantidad">Cantidad</option>
        <option value="PrecioCompra">Precio Compra</option>
        <option value="PorCentajeGanancia">Porcentaje negocio</option>
    </select>


</div>



@if(productos == null)
{
    <p>No hay datos que mostrar</p>
    return;
} else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Fecha de entrada</th>
                <th>Precio de compra</th>
                <th>Porcentaje de ganancia</th>
                <th>Precio de venta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in productos)
            {
                <tr>
                    <td>@item.ProductoId</td>
                    <td>@item.Nombre</td>
                    <td>@item.Cantidad</td>
                    <td>@item.FechaEntrada</td>
                    <td>@item.PrecioCompra</td>
                    <td>@item.PorcentajeGanancias</td>
                    <td>@item.PrecioVentas</td>
                    <td><a class="btn btn-outline-info" href="productos/@item.ProductoId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
}





@code {
    List<Productos> productos = new List<Productos>();

    protected override void OnInitialized()
    {
        productos = productoscontrollers.GetList(P => true);
    }

    private string Filtro;
    private string Criterio;




}
