@page "/ConsultaCompras"

<h3>Consulta de Compras</h3>

<div class="form-row">
    <div class="col">
        
        <select @bind="Criterio">
            <option value="">Elija un campo</option>
            <option value="Todos">Todos</option>
            <option value="Id">Id</option>
            <option value="ProveedorId">ProveedorId</option>
            <option value="Itebis">Itebis</option>
            <option value="Balance">Balance</option>
        </select>


    </div>

    <div class="col">
        <input type="text" @bind="filtro" />
    </div>

    <div class="col">
        <button type="button" class="btn btn-primary" @onclick="Filtrar">Filtrar</button>
    </div>

</div>


@if (Compras == null)
{
    <p>No hay datos que mostrar</p>
    return;
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de compra</th>
                <th>ProveedorId</th>
                <th>Itebis</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Compras)
            {
                <tr>
                    <td>@item.CompraId</td>
                    <td>@item.FechaCompra</td>
                    <td>@item.ProveedorId</td>
                    <td>@item.Itbis</td>
                    <td>@item.Balance</td>
                    <td><a class="btn btn-primary" href="compra/@item.CompraId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    List<Compras> Compras = new List<Compras>();

    protected override void OnInitialized()
    {
        Compras = comprascontroller.GetList(p => true);
    }

    private string filtro;
    private string Criterio;

    public List<Compras> listado { get; set; }

    private void Filtrar()
    {
        if (Criterio.Trim().Length > 0)
        {
            try
            {
                switch (Criterio)
                {
                    case "Todos":
                        listado = comprascontroller.GetList(p => true);
                        break;
                    case "Id":
                        listado = comprascontroller.GetList(p => p.CompraId.ToString() == filtro);
                        break;
                    case "ProveedorId":
                        listado = comprascontroller.GetList(p => p.ProveedorId.ToString() == filtro);
                        break;
                }

            } catch
            {

            }
        }


    }






    }
}


